@tailwind base;
@tailwind components;
@tailwind utilities;

// :root {
// }
//
// @media (prefers-color-scheme: dark) {
//     :root {
//     }
// }

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    scrollbar-width: auto;
    scrollbar-color: rgb(149, 152, 157) rgb(0, 0, 0);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(149, 152, 157);
    border-radius: 6px;
    border: 4px solid #ffffff;
}

.circuit-drag-handle[data-active="true"] .handle {
    display: none;
}

.circuit-drag-handle[data-active="false"] .eye {
    display: none;
}

.circuit-drag-item[data-dragging="true"] button .eye,
.circuit-drag-handle[data-active="true"]:hover {
    .handle {
        display: block;
    }
    .eye {
        display: none;
    }
}
